<div class="accordion d-flex flex-column" id="accordionSteps">
    <div class="room-name-bar d-flex flex-column background-blue">
        <h2 class="accordion-header d-flex align-self-stretch align-items-center" id="headingOne">
            <span class="room-name-text flex-grow-1 fw-bold helvetica white">
                Room Name
            </span>
            <i class="fa-solid fa-caret-down caret white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
        </h2>
    </div>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionSteps">
        <div class="accordion-body" style="padding: 0 !important">
            <div class="steps d-flex flex-column background-blue">
                <div class="step-container-hl d-flex align-items-center">
                    <span class="step-name-hl helvetica white">1. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">2. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">3. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">4. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">5. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">6. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">7. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">8. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">9. Step Name</span>
                </div>
                <div class="step-container d-flex align-items-center">
                    <span class="step-name helvetica white">10. Step Name</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header d-flex flex-column">
    <span class="page-name helvetica fw-bold">Page Name</span>
    <span class="page-name-text helvetica gray">
        There are many variations of passages
        of Lorem Ipsum available, but the majority have
        suffered alteration in some form.
    </span>
</div>
<div class="Action-Bar d-flex">
    <div class="sort-by d-flex">
        <span class="sort-by-text helvetica">Sort by</span>
    </div>
    <div class="dropdown-bar d-flex flex-grow-1 align-items-center light-gray">
        <span class="dropdown-bar-text helvetica gray flex-grow-1">Price</span>
        <i class="fa-solid fa-caret-down caret gray"></i>
    </div>
    <div class="filters-button d-flex align-items-center">
        <span class="filters-button-text helvetica">Filters</span>
    </div>
</div>
<div class="product-container d-flex flex-column">
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
    <div class="Product-Card d-flex">
        <div class="product-image d-flex flex-column justify-content-center">
            <img src="https://skb-strefa-kamienia.pl/wp-content/uploads/2020/11/plyta-granitowa-g654-60x60-cm-plomieniowana.jpg" />
        </div>
        <div class="product-content d-flex flex-column">
            <span class="product-name-text helvetica">Product Name</span>
            <span class="additional-info-text helvetica">Additional Information</span>
            <span class="price-text helvetica">$00.00</span>
        </div>
    </div>
</div>
<div class="pagination d-flex flex-column align-items-center">
    <div class="pagination-bar d-flex">
        <div class="pagination-icon border-radius-left d-flex align-items-center justify-content-center">
            <span class="pagination-vector" aria-hidden="true">&laquo;</span>
        </div>
        <div class="pagination-icon d-flex align-items-center justify-content-center background-blue">
            <span class="pagination-text d-flex justify-content-center white helvetica">1</span>
        </div>
        <div class="pagination-icon d-flex align-items-center justify-content-center">
            <span class="pagination-text d-flex justify-content-center helvetica">2</span>
        </div>
        <div class="pagination-icon d-flex align-items-center justify-content-center">
            <span class="pagination-text d-flex justify-content-center helvetica">3</span>
        </div>
        <div class="pagination-icon d-flex align-items-center justify-content-center">
            <span class="pagination-text d-flex justify-content-center helvetica">...</span>
        </div>
        <div class="pagination-icon d-flex align-items-center justify-content-center">
            <span class="pagination-text d-flex justify-content-center helvetica">13</span>
        </div>
        <div class="pagination-icon border-radius-right d-flex align-items-center justify-content-center">
            <span class="pagination-vector" aria-hidden="true">&raquo;</span>
        </div>
    </div>
    <span class="pagination-count helvetica gray">Showing Products 1-30 of 409</span>
</div>
